
* {
    box-sizing: border-box;
    margin: 0;
}

body {

    text-align: center;
}

.nav-item {

   padding: 25px;
     

}

.nav-link {

    font-weight: bold;
    font-family: "Roboto Condensed";
    font-weight: 400;
    color: #655446;
}

.nav-link:hover {

    color: #b67429;
    transition: 2ms ease-in;
}

.introduction-header {

   font-size: 2.5rem;
   font-family: "Ubuntu";
   margin: 5% 13%;
   color: #655446;
    
   
}

.introduction-paragraph {

    font-family:"Roboto Condensed";
    line-height: 1.5;
    width: 50%;
   
}

.landing-buttons {

   margin: 2%;
   font-family: "Roboto Condensed" ;
   background-color: #ffff;
   color: #655446;
   border: 1px solid #b67429;
 
    

}

.landing-buttons:hover {

  background-color: #b67429;
  color: white;
  background-color: 1px solid white;

}

.landingpage-images {

    align-items: center;
}

.collince-image {

    display: block;
    border-radius: 50%;
    margin: 3% auto;
}

.portfolio-landing-page {

    margin-bottom: 0;
}


#bio {

   background-image: linear-gradient(90deg, #b67429, #ffbf00 );
    height: 500px;
   
    
}

.bio-header {

    font-size: 2rem;
    font-family: "Ubuntu";
    margin: 0;
    padding-top: 8%;
    color: white;

}

.bio-paragraph {

    font-family: "Roboto Condensed";
    font-weight: 400;
    color: #fff;
    margin: 20px auto;
    width: 50%;


   
}

#service-grid {

    width: 90%;
    margin: -100px auto;
    box-shadow: 0px 3px 10px #ccc;
    border-radius: 25px;
    padding: 25px;
    background-color: #fff;
    top: 400px;
  
    
}

.service-header {

    font-family: "Ubuntu";
    color: #655446;
}

.service-paragraph {

    font-family: "Roboto Condensed" ;
    line-height: 1.5;
}

#technologies {

   
   
    
}

#tech {

    display: inline-block;
    font-family:"Roboto Condensed"  ;
    padding: 2px;
    border-radius: 5px;
    margin: 2px;
    
}

#digital-marketer {

    border-left: 1px solid #655446;
    border-right: 1px solid #655446;

}

#projects {

    margin-top: 120px;
}


.projects {

    background-size: cover;
    background-position: center;
    padding-top: 65% ;
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.projects > div {

    color: white;
    position: absolute;
    text-align: center;
    font-family: "Ubuntu";
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
   top: 0;
    left: 0;
    width: 100%;
    font-size: 1.5rem;
    line-height: 100%;
    display: flex;
    
}

.projects div:hover h3 {

    display: none;
    

}
.projects div .hover-button {

    display: none;
    
    
}

.projects div:hover .hover-button {

    display: block;
    

}

.hover-button{

   
    margin: auto 5px;
    display: block;
    width: 100%;
   font-size: 1rem;
   line-height: 1.5;
   
   
}

.project-but {

    background-color: #b67429;
    border: none;
}

.project-but:hover  {


    background-color: #b67429;
}




.projects h3 {

    margin: auto 5px;
    display: block;
    width: 100%;
    

}

#projects-title {

    font-size: 2rem;
    font-family: "Ubuntu";
    margin: 0;
    padding-top: 6%;
 
}

#projects-para {

    font-family: "Roboto Condensed" ;
    line-height: 1.5;
    margin: 40px;

}

#collab-statement {

    font-family: "Ubuntu";
    font-size: 2rem;
    margin: 12% auto;
    width: 65%;
    

}

#collaborations h3 {

    font-family: "Ubuntu";
}

.behance {

    margin: 3%;
   font-family: "Roboto Condensed" ;
   color: #655446;
   border: 1px solid #b67429;
   text-decoration: none;


}
.behance:hover {

    color: #fff;
    background-color: #b67429;
}

.collab-logos {

   
    width: 15%;
    margin: 15px 20px 50px;

}

#testimonials {

    background-image: linear-gradient(90deg, #b67429,#ffbf00 );
    padding: 80px ;
    color: #fff;
    
}

#testimonials h2 {

    font-family: "Ubuntu";
    

}


#testimonials p {

    font-family: "Roboto Condensed";
    width: 50%;
    margin: 20px auto;
    line-height: 1.5;

}

.testimonial-image {

    width: 10%;
    height: 10%;
    border-radius: 20%;  
}

#name-title {

    font-weight:600;
    color: #655446;

}

#carousel-item {

    padding: 7% 15%;
}

.footer-logo {

    width: 10%;
}

#contacts-p {

    font-family: "Roboto Condensed" ;
    font-weight: 200;
}

.social-icon{

    margin: 20px 10px;
    color: #655446;
}

.social-icon:hover {

    transition: .3ms ease-in-out;
    color:black;
}

#contacts {

    background-image: linear-gradient(90deg, #b67429,#ffbf00 );
    
}

.copyright {

    padding-bottom: 40px;
}

